/* .leftFrame{
	position : absolute;
	height : 100%;
	width : 30%;
	left : 0 !important;
}

.rightFrame{
	position : absolute;
	height : 100%;
	width : 70%;
	left : 30%;
} */

ul li{
	cursor:pointor;
}

/* .tree ul li{
	text-transform: lowercase !important;
} */

.countyTableColumnsStyles{
	text-transform: lowercase !important;
}

.onClickActive{
	color:red;
}

.modalDialog{
	height :47.3px !important;
	overflow:hidden !important;
}

.modalDialog p{
	padding : 2px 7px !important;
}


.mask {
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);
}


#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#FFCE89;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#FA9F1E;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.grid-loading{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* #overlay {
 	background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;	
    width: 100%;
    overflow: hidden; 
} */


.logo img{
width: 350px !important;;
padding-bottom: 15px;
text-align:center;
}
.btn-success {
    color: #fff;
    background-color: #314f84 !important;
    border-color: #314f84 !important;
}
.panel-info>.panel-heading {
    color: #333333 !important;
    background-color: #acc8cc !important;
    border-color: #acc8cc !important;
}
.panel-info {
    border-color: #729ea5!important;
}
.arrowdown{
	float:left;
	width:16px;
	height:24px;
	background:url(../img/arrowdown.png) no-repeat;
}
.arrowdown:hover{
	float:left;
	width:16px;
	height:24px;
	background:url(../img/arrowdownhover.png) no-repeat;
}
.arrowup{
	float:left;
	width:16px;
	height:24px;
	background:url(../img/arrowup.png) no-repeat;
}
.arrowup:hover{
	float:left;
	width:16px;
	height:24px;
	background:url(../img/arrowuphover.png) no-repeat;
}
.paddingtop{
	padding: 9px 15px !important;
}
/* .navbar-default{
	background:url(../img/menubg.png);
	background-repeat:repeat-x;
}
.navbar-nav>li:hover{
	background:#b5c4de !important;
}
.navbar-default .navbar-nav>li>a{
	color:#000000 !important;
	font-weight:bold;
	font-size:12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#000000 !important;
	background:#b5c4de !important;
}
 */
 .input-icon>i {
    color: #d1d1d1;
    display: block!important;
    position: absolute!important;
    z-index: 1;
    margin: 8px 2px 4px 5px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.login{background:url(../img/bg.jpg);padding-top:0px;}.login .logo,.login .single-sign-on,.login .footer{margin:0 auto;text-align:center}.login .logo{padding:15px;font-size:23px}.login .box{background-color:#fff;width:350px;margin:100px  auto;border:1px solid #d9d9d9;border-top:5px solid #ff0000}.login .box .content{padding:30px;padding-top:10px;padding-bottom:15px}.login .box form{padding:0;margin:0}.login .box .form-title{text-align:center;font-weight:300;margin-bottom:25px}.login .box .form-group{margin:0;padding:0;margin-bottom:15px}.login .box .form-actions{background-color:#fff;border-top:0;padding:10px 0;margin:0;overflow: hidden;}.login .box .input-icon{position:relative}.login .box .input-icon input{border-left:2px solid #4d7496}.login .box .has-error .input-icon input{border-left-color:#b94a48}.login .box .has-success .input-icon input{border-left-color:#468847}.login .box .checkbox{margin-top:7px}.login .box .inner-box{background-color:#f9f9f9;border-top:1px solid #c0c0c0;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05) inset;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05) inset;box-shadow:0 1px 1px rgba(0,0,0,0.05) inset}.login .box .inner-box .content{padding:12px 30px;text-align:center}.login .box .inner-box a{color:#555;font-size:12px;font-weight:600}.login .box .inner-box a:hover{text-decoration:none;color:#4d7496}.login .box .inner-box .close{font-size:12px;margin-top:-3px;margin-right:-20px}.login .box .inner-box .close.hide-default{display:none}.login .box .inner-box form{margin-top:10px;margin-bottom:10px}.login .box .inner-box a+form{margin-top:20px}.login .box .inner-box .form-group{margin-bottom:10px}.login .box .inner-box .forgot-password-done{padding:10px 0}.login .box .inner-box .forgot-password-done .success-icon,.login .box .inner-box .forgot-password-done .danger-icon{display:block;font-size:30px;padding:15px;padding-top:0}.login .box .inner-box .forgot-password-done .success-icon{color:#94b86e}.login .box .inner-box .forgot-password-done .danger-icon{color:#e25856}.login .box .inner-box .forgot-password-done span{font-weight:600}.login .single-sign-on{width:350px;padding:15px 0;opacity:.5;-webkit-transition:opacity 200ms ease-out;-moz-transition:opacity 200ms ease-out;-o-transition:opacity 200ms ease-out;transition:opacity 200ms ease-out}.login .single-sign-on:hover{opacity:1}.login .single-sign-on span{text-transform:uppercase;font-weight:600;margin-bottom:15px;display:block;color:#888}.login .single-sign-on .btn i{padding-right:5px}.login .footer{width:350px;padding-top:30px}.login .footer a{font-size:13px;color:#6f6f6f}.login .footer a:hover{text-decoration:none;color:#4d7496}.login .spacing-top{padding-top:7px!important}

.contentAreaStyle {
	background-color: #f9f7f7;
	height: 530px;
}
.maximized {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
     -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0; 
    border:0 none;
    z-index:9;
}


 .required:after { content:" *"; color:red}
